@font-face {
  font-family: Playfair;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: Playfair;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Playfair;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Playfair;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Playfair Black";
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Black.ttf);
}
@font-face {
  font-family: "Playfair Black";
  src: url(../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf);
  font-style: italic;
}
