$main-gray: #626262;
$support-gray: #f3f3f3;
$aside: #b4ad9e;
$white: #fff;

$gutter: 32px;

$firstBreakPoint: 600px;
$secondBreakPoint: 900px;
$thirdBreakPoint: 1200px;

$main-logo-max-width: 119px;
$main-logo-max-height: 23px;